@using TimirzinEShop.DB_Context
@model DetailedProduct
<div>
    <div class="productBlock row shadow">
        <div class="col-sm-5 centerImg">
            <img class="cardImg" src="@Model.ProductView.Image">
        </div>
        <div class="col-sm-7 rightHalf">
            <div class="text-right">
                <h3 class="productName">@Model.ProductView.CategoryName @Model.ProductView.Brand @Model.ProductView.Model</h3>
                <div>
                    <h3 class="productPrice">@Model.ProductView.Price руб</h3>
                    <button class="btn-dark text-uppercase shadow" id="buyBtn">Купить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="productBlock shadow">
        <h3 class="blockHeader">Описание</h3>
        <p>
            @Model.ProductView.Description
        </p>
    </div>
    <div class="productBlock shadow endBlock">
        <h3 class="blockHeader">Характеристики</h3>
        <div class="row marginZero">
            <div class="col-sm-6 zeroPad article" id="@Model.ProductView.Id">Артикул:</div><div class="col-sm-6 zeroPad">@Model.ProductView.Id</div>
            <div class="col-sm-6 zeroPad">Категория:</div><div class="col-sm-6 zeroPad">@Model.ProductView.CategoryName</div>
            <div class="col-sm-6 zeroPad">Бренд:</div><div class="col-sm-6 zeroPad">@Model.ProductView.Brand</div>
            <div class="col-sm-6 zeroPad">Модель:</div><div class="col-sm-6 zeroPad">@Model.ProductView.Model</div>
            <div class="col-sm-6 zeroPad">Страна:</div><div class="col-sm-6 zeroPad">@Model.ProductView.Country</div>
            @foreach (var item in Model.attrVals)
            {
                <div class="col-sm-6 zeroPad">@item.Key:</div><div class="col-sm-6 zeroPad">@item.Value</div>
            }
        </div>
    </div>
</div>

<style>
    .blockHeader{
        padding-bottom: 10px;
    }
    .marginZero{
        margin: 0px;
    }
    .zeroPad{
        border-bottom: solid 1px rgb(230,230,230);
        padding: 0px;
        margin-bottom: 5px;
    }
    .productBlock{
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .cardImg {
        max-height: 100%;
        max-width: 100%;
    }
    .centerImg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .rightHalf{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-dark{
        height: 50px;
        width: 100px;
    }
    .productName{
        margin-bottom: 30px;
    }
    .productPrice{
        margin-bottom: 15px;
    }
    .endBlock{
        margin-bottom: 60px;
    }
    p{
        margin: 0px;
    }
</style>
<script>
    var article = document.querySelector(".article");
    var buyBtn = document.querySelector("#buyBtn");
    buyBtn.style.cursor = "pointer";
    buyBtn.addEventListener(
        "click", () => {
            buyBtn.style.cursor = "not-allowed";
            buyBtn.disabled = true;
            buyBtn.innerHTML = "В корзине";
            window.location.href = "/Cart/Add?id=" + article.id;
    });
</script>